<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Networking Web App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Networking Web App - Home</a>

                    <ul class="navbar-nav">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Networking Apps
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-page="/FtpServerClient">File Transfer Protocol (FTP) App</a>
                                <a class="dropdown-item" asp-page="/IpAddressFromDomainName">Find IP Address From Domain Name</a>
                                <a class="dropdown-item" asp-page="/IpAddressGeoLocation">IP Address Geolocation Lookup</a>
                                <a class="dropdown-item" asp-page="/Ping">Ping</a>
                                <a class="dropdown-item" asp-page="/WhoIs">WhoIs Lookup</a>
                                <a class="dropdown-item" asp-page="/WifiScan">Wifi Scan</a>
                            </div>
                        </li>

                    </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
